composer.lock
/.idea
/.idea/workspace.xml
/vendor
/node_modules
/app/models
/app/controller/api
/app/controller/frontend
/app/controller/backend
!/app/views/backend

!/app/views/frontend/
/app/views/frontend/**
!/app/views/frontend/theme_default/

/app/cache
/app/storage/public/uploads
/app/helpers/.env

/public_html/package.json
/public_html/package-lock.json
/public_html/node_modules
/public_html/webpack.config.js
/public_html/deploy.php
/public_html/deploy.log

!/public_html/assets/
/public_html/assets/**
!/public_html/assets/theme_default/